[data-md-color-scheme="moog"] {
  --md-primary-fg-color:        #5195E1;
  --md-primary-fg-color--light: #5195E1;
  --md-primary-fg-color--dark:  #5195E1;
}
/*as you can see I am a big fan of Tsumugi Kokage*/